
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" id="f">
    <div class="form-group ">
            <div class="errordiv" *ngIf="loginm">{{loginmessage}}</div>

        <label for="username">Username</label>
        <input type="text" placeholder="Enter UserName" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>

    </div>
    <div class="form-group">
        <button [disabled]="loading" id="l" class="btn btn-primary">LOGIN</button>
    </div>
   
</form>
