.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3.5cm;
    background-color:#70a6d6;
    color:white; 
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.navbar-default .btn-link {
    color: white;
    margin-top: 8px;
}
.navbar-default .navbar-brand .list {
    color: white;
}

li.active
{
	  background-color:black;
	  color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #131111;
}
.navbar-default .navbar-nav>li>a {
    color: #fbf3f3;
}
li
{
    float:right;
}